<br/>
<div class='desc'>
  <div class='about-bg'>
    <h4>Skills</h4>
    <ul>
        {{#each tools}}
          <li>
            {{{this.name}}}
          </li>
        {{/each}}
    </ul>
  </div>
</div>