<table>
    <tr>
        <td><label for="name">Name (First and last)</label></td>
        <td><input type="text" id="name" required="true"/></td>
    </tr>
    <tr>
        <td><label for="email">Email</label></td>
        <td><input type="email" id="name" required="true"/></td>
    </tr>
    <tr>
        <td><label for="message">Message</label></td>
        <td><textarea id="message" required="true"></textarea></td>
        <td><a href="./contact" class="btn btn-success">Send</a></td>
    </tr>
</table>
