<br/>
<div class='portfolio-bg'>
    <h4>Welcome to my portfolio! Take a look around for a summary of my skills.</h4>
    <img src='/images/tree.jpg'>
    <p>If you click on About, you will see a basic list of my skills. I can do some stuff in front-end, back-end, in between and all around.</p>
    <p>You can also click on Projects to explore some of the stuff I've been working on.</p>
    <p>If you like the look of my portfolio or see some skills you can use, feel free to go to Contact and shoot me a quick email!
    <br/>Just be sure to tell me your name, the company you're in and the details of the job you need me for!</p>
</div>