<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    </head>
  <body>
    <div class="jumbotron text-center">
      <h1>{{title}}</h1>
      <p>{{desc}}</p>
  </div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Portfolio</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home &nbsp</a></li>
        <li><a href="/About">About &nbsp</a></li>
        <li><a href="/Projects">Projects &nbsp</a></li>
        <li><a href="/Contact">Contact</a></li>
      </ul>
    </div>
  </nav>
    {{{body}}}
    <!-- Bootstrap script -->
    <script src='c/javascripts/bootstrap.min.js'></script>
    <footer>
      <div class="footer">
        <img src="/images/portrait.jpg" style="width: 128px">
        <div class="links">
          {{!-- Linkedin link and logo - Logo from https://cdn.iconscout.com/icon/free/png-512/linkedin-67-433325.png --}}
          <a href="https://www.linkedin.com/in/kevin-meisenbacher-2741a865/">
            <img src="/images/linkedin.png" style="width: 32px">
          </a>
          {{!-- GitHub link and logo - Logo from https://cdn.iconscout.com/icon/free/png-512/github-163-761603.png --}}
          <a href="https://github.com/KevinMeisenbacher">
            <img src="/images/github.png" style="width: 32px">
          </a>
        </div>
        <p><strong>©2021, Kevin Gregory Meisenbacher</strong></p>
      </div>
    </footer>
  </body>
</html>
