<h2>{{title}}</h2>
<ul>
    <li><a href='../DnD_Character_Creator-main/index.html'>D&D Character Manager</a></li>
    {{!-- This site still needs a bit of work --}}
    <li><a href='https://modcatalogue.azurewebsites.net/'>Mod Catalogue</a></li>
</ul>