<h2>{{title}}</h2>
<div class="projects">
    <a href="https://github.com/KevinMeisenbacher/DnD_Character_Creator"><img src="/images/dnd.png" id="projectImg"></a></li>

    {{!-- This site still needs a bit of work --}}
    <a href="https://github.com/KevinMeisenbacher/KevinMeisenbacher-Sem3ASPProject"><img src="/images/modCatalogue.png" id="projectImg"></a>

    {{!-- My favourite Java project! --}}
    <a href="https://github.com/KevinMeisenbacher/KevinMeisenbacher_COMP1011_Assignment1"><img src="/images/ds3.png" id="projectImg"></a>
    
    {{!-- A game I made for eCo-op - Big ambitions to build around the player creating the soundtrack
                                     but only had time to rough it out as I learned how to use the engine --}}
    <a href="https://github.com/KevinMeisenbacher/SteelSpirit"><img src="/images/steelSpirit.png" id="projectImg"></a>
</div>