<h2>{{title}}</h2>
<div class="projects">
    <table>
        <tr>
            {{!-- D&D App - A WIP app that will streamline character sheets with a familiar look and feel for remote campaigns --}}
            <td><a href="https://youtu.be/ecm3RqPc0U4"><img src="/images/dnd.png" id="projectImg"></a></td>
        </tr>
        <tr><td>WIP app for playing remote DnD campaigns with a familiar look and feel</td></tr>
    </table>

    <table>
        <tr>
            {{!-- This site still needs a bit of work --}}
            <td><a href="https://modcatalogue.azurewebsites.net/"><img src="/images/modCatalogue.png" id="projectImg"></a></td>
        </tr>
           <tr><td>WIP site that directs the user to the best mods for any game</td></tr>
        </tr>
    </table>


    <table>
        <tr>
            {{!-- My favourite Java project! --}}
            <td><a href="https://youtu.be/TRuOYNkXyv0"><img src="/images/ds3.png" id="projectImg"></a></td>
        </tr>
        <tr><td>Learning project I did to figure out how to use SQL in Java</td></tr>
    </table>
</div>