/* Dark Mode - Author: Kevin */
* {
	color: white;
	border-color: red;
}
body, input, div, textarea, select{
	background-color: black;
}
/* Layout for the initial form */
.form {
	display: flex;
	flex-direction: column;
	width: 400px;
}
/* Little input boxes for stats in the form */
.statInput {
	background-color: #070707;
	border-radius: 5px;
	margin: 2px;
	width: 15px;
}
/* Align basic info nice and neatly */
.topFields {
	display: none;
	flex-wrap: wrap;
	justify-content: flex-start;
}
/* Make the logo nice */
.logo {
	width: 385px;
	height: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	border-bottom-style: solid;
}
/* Make the box for the character name big and prominent */
.namebox {
	border-style: solid;
	width: 340px;
	padding: 10px;
	font-size: 150%;
	color: gold;
	margin-right: 10px;
	margin-top: 20px;
}
input:invalid:required {
	border-style: dashed;
	border-color: purple;
	background-color: #402010;
}
/* Text underline */
.textbox {
	border-style: hidden;
	border-bottom-style: solid;
	width: 125px;
	color: gold;
}
/* STYLING FOR DETAILED STATS */

/* Neatly line up all columns */
.columns {
	display: none;
	flex-direction: row;
}
/* Allow for stacks of columns */
.stack {
	display: flex;
	flex-direction: column;
}
/* Left pane for base attributes */
.attributesList {
	display: flex;
	flex-direction: column;
	background-color: #200707;
	text-align: center;
}
/* Give some space in the attribute boxes to make them nice and squared */
.attributeBox {
	border-style: solid;
	border-radius: 5px;
	margin: 10px;
	background-color: #200707;
	font-size: 14px;
	width: 120px;
}
/* Turn text boxes into little text bubbles */
.attributeInput {
	width: 60px;
	height: 45px;
	border-radius: 60px;
	margin-bottom: -200px;
	font-size: 150%;
	color: gold;
	text-align: center;
}
#statLabel {
	background-color: #200707;
	margin-bottom: 80px;
}
/* COLUMN FOR PLAYER STATS */

/* Clear pane for stats */
.stats {
	display: flex;
	flex-direction: column;
	margin: 1px;
}
/* Inspiration box */
.inspirationInput {
	width: 50px;
	height: 50px;
	margin: -25px;
	margin-left: 0px;
	font-size: 150%;
}
.boxLiner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#equipment {
	height: 355px;
}
/* Proficiency bonus bubble */
.profBonusInput {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-style: solid;
	border-radius: 50px;
	font-size: 150%;
	color: gold;
	text-align: center;
}
/* Standard styling for most boxes */
.skillBox {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-radius: 10px;
	margin: 5px;
}
/* Styling for the skill inputs */
.skillInput {
	display: flex;
	flex-direction: column;
	border-style: hidden;
	border-bottom-style: solid;
	width: 30px;
	margin: -15px;
	margin-left: 0px;
	margin-right: -10px;
	font-family: 'Arial';
	text-align: right;
	font-size: 150%;
	color: gold;
}
/* Pack the skill labels closer together */
.unbuffer {
	margin-bottom: 0px;
	margin-top: 12px;
}
/* Bottom text of skill boxes */
.footer {
	display: flex;
	align-content: center;
	text-align: center;
}

/* MIDDLE COLUMN */

/* Div to put rows of boxes within columns */
.row {
	display: flex;
	flex-direction: row;
	background-color: #200707;
	margin-right: 10px;
}
/* Div for armour class, initiative and speed */
.bigBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 118px;
	height: 100px;
	margin-top: 10px;
	background-color: #200707;
	text-align: center;
}
/* Box for the armour class */
.shield {
	border-style: none;
	background-color: #200707;
	width: 100px;
	height: 100px;
	background-image: url("shield.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
/* Box for Initiative */
.bigInput {
	width: 100px;
	height: 92px;
	border-radius: 10px;
	font-size: 300%;
}
/* Box for player speed */
.speed {
	border-style: none;
	background-color: #200707;
	width: 100px;
	height: 100px;
	background-image: url("speed.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
/* Neatly space out the health counters */
#hpMeter { /* Heart */
	text-align: center;
	margin-right: 3px;
}
#hpBox { /* HP Meter and Hit Dice */
	padding: 3px;
}
#hpButtonSpacer { /* Buttons */
	margin-left: 5px;
	margin-right: 5px;
}
/* Health heart */
.currentHP {
	border-style: none;
	text-align: center;
	width: 40px;
	height: 40px;
	background-image: url("heart.png");
	background-color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
/* Div for the wide saving throw boxes */
.wideRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #200707;
}
/* Div for saving throws */
.savingThrowsDiv {
	width: 100px;
	background-color: #200707;
	text-align: center;
}
.savingThrowBox {
	width: 170px;
}
input[type=checkBox] {
	margin: 0px;
	border-style: solid;
	background-color: black;
}

/* Moveset layout */
#moveset {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
/* Colour-coded money values */
#money {
	display: flex;
	justify-content: space-around;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
}
#pp {
	border-color: #d0e0ff;
	background-color: #687080;
	color: #d8f0ff;
}
#ep {
	border-color: cyan;
	background-color: #004040;
	color: cyan;
}
#gp {
	border-color: gold;
	background-color: #404000;
	color: gold;
}
#sp {
	border-color: #c0c0c0;
	background-color: #606060;
	color: #c0c0c0;
}
#cp {
	border-color: #f08000;
	background-color: #402000;
	color: #f08000;
}

.statDisplay {
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-radius: 10px;
	margin: 5px;
	text-align: center;
}
.traitText {
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
/* These divs exist on the rightmost column */
.traitBox {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	height: 65px;
	width: 300px;
}
.abilityBox {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-radius: 5px;
	margin-left: 10px;
	height: 350px;
	width: 300px;
}
.littleInput {
	border-style: solid;
	border-radius: 5px;
	margin: 0px;
	margin-bottom: 3px;
	padding: 3px;
	color: gold;
}
.atkNameInput {
	background-color: #200707;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px;
	width: 120px;
}
.atkBonusInput {
	background-color: #200707;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px;
	width: 80px;
}
.atkDamageInput {
	background-color: #200707;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px;
	width: 100px;
}
button {
	margin: 0px;
	border-radius: 5px;
	background-color: #200707;
	height: 24px;
}
p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.spaced {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Hide the character sheet until character is created */
.statOutput {
	display: none;
	flex-direction: column;
	margin: 0px;
	border-style: solid;
	border-radius: 10px;
	border-color: red;
}
/* Class by James Spoor - Hides the unselected character bodies*/
.hidden {
	display:none
}
