body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  width: 300px;
  height: 100px;
}

img {
  width: 30%;
  margin: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding-top: 8px;
  padding-bottom: 16px;
  background-color: #464649;
}

/* For my GitHub and LinkedIn buttons */
.links {
display: flex;
flex-direction: row;
margin-left: 8px;
}

/* Div for front page */
.portfolio-bg {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  text-align: center;
  background-color: #9dc2ff;
}

/* Outer Div for About page */
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

/* Inner Div for About page */
.about-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9dc2ff;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projectImg {
  width: 300px;
}